In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Arunachal_Pradesh.csv")

In [3]:
df

   Year    INC    BJP   PPA    NCP    NPP   JDU
0  2009  50.40   5.20  7.30  19.36    NaN   NaN
1  2009  51.10  37.20   NaN    NaN    NaN   NaN
2  2014  50.00  31.30  9.10   3.90    NaN   NaN
3  2014  41.70  46.60  8.00    NaN    NaN   NaN
4  2019  16.85  50.86  1.73    NaN  14.56  10.0
5  2019  20.90  31.30  2.30    NaN    NaN   NaN

In [4]:
df.fillna(0,inplace=True)

In [5]:
df

   Year    INC    BJP   PPA    NCP    NPP   JDU
0  2009  50.40   5.20  7.30  19.36   0.00   0.0
1  2009  51.10  37.20  0.00   0.00   0.00   0.0
2  2014  50.00  31.30  9.10   3.90   0.00   0.0
3  2014  41.70  46.60  8.00   0.00   0.00   0.0
4  2019  16.85  50.86  1.73   0.00  14.56  10.0
5  2019  20.90  31.30  2.30   0.00   0.00   0.0

In [6]:
from sklearn.svm import SVR

In [7]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['BJP'])

SVR()

In [8]:
y_predict=model.predict([[2024]])
y_predict

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

array([34.25])

In [9]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['INC'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [10]:
y_predict

array([44.60622117])

In [ ]:
#INC-23.7
#BJP-3.1