In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Gujrat.csv")

In [3]:
df

   Year   BJP   INC   AAP
0  2012  47.9  38.9   NaN
1  2014  60.1  33.5   NaN
2  2017  50.0  42.2   NaN
3  2019  63.1  32.6   NaN
4  2022  53.3  27.7  13.1

In [4]:
df.fillna(0,inplace=True)

In [5]:
df

   Year   BJP   INC   AAP
0  2012  47.9  38.9   0.0
1  2014  60.1  33.5   0.0
2  2017  50.0  42.2   0.0
3  2019  63.1  32.6   0.0
4  2022  53.3  27.7  13.1

In [6]:
from sklearn.svm import SVR

In [7]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['BJP'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [8]:
y_predict

array([53.05918612])

In [9]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['INC'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [10]:
y_predict

array([32.21247372])

In [11]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['AAP'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [12]:
y_predict

array([0.99062686])