In [1]:
import pandas as pd

In [2]:
from sklearn.svm import SVR

In [3]:
df=pd.read_csv("Haryana.csv")

In [4]:
df

   Year    INC   BJP  INLD   JJP    BSP
0  2009  35.80   9.0  25.8   NaN    NaN
1  2009  41.80  12.1  15.8   NaN  15.70
2  2014  20.70  33.3  24.2   NaN    NaN
3  2014  23.00  34.8  24.4   NaN   4.60
4  2019  28.08  36.7   2.0  14.9   4.21
5  2019  28.50  58.2   1.9   4.9   3.60

In [5]:
df.fillna(0,inplace=True)

In [6]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['BJP'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [7]:
y_predict

array([34.44873633])

In [9]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['INC'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [10]:
y_predict

array([28.72634807])

In [ ]:
BJP:-24
INC:0.22
JJP: