In [1]:
import pandas as pd

In [2]:
from sklearn.svm import SVR

In [3]:
df=pd.read_csv("Jharhand.csv")

In [4]:
df

   Year    BJP    INC    JMM    JVM   RJD
0  2009  20.18  16.16  15.20   8.99  5.03
1  2009  27.50  15.00  11.70  10.50   NaN
2  2014  31.26  10.46  20.43   9.99   NaN
3  2014  40.70  13.50   9.40  12.30   NaN
4  2019  33.37  13.88  18.72   5.45   NaN
5  2019  51.60  15.80  11.70   5.10   NaN

In [5]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['BJP'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [6]:
y_predict

array([31.75165918])

In [7]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['INC'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [8]:
y_predict

array([14.25941341])

In [9]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['JMM'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [10]:
y_predict

array([13.45])

In [ ]:
BJP:-19.85
INC:-1.55
JMM:1.75