In [1]:
import pandas as pd

In [2]:
from sklearn.svm import SVR

In [3]:
df=pd.read_csv("Manipur.csv")

In [4]:
df

   Year    BJP    INC  NCP   TMC  MSCP8   NPF   CPI  NPP   JDU
0  2012    NaN  42.40  7.5  17.0    8.4   7.2   5.8  NaN   NaN
1  2014  12.00  41.90  4.4   NaN    NaN  20.0  14.1  NaN   NaN
2  2017  36.50  35.30  NaN   NaN    NaN   7.2   NaN  5.1   NaN
3  2019  34.30  24.70  NaN   NaN    NaN  22.6   8.3  NaN   NaN
4  2022  37.83  16.83  NaN   NaN    NaN  17.3   NaN  NaN  10.8

In [5]:
df.fillna(0,inplace=True)

In [6]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['BJP'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [7]:
y_predict

array([33.98827844])

In [8]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['INC'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [9]:
y_predict

array([34.67529523])

In [10]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['NPF'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [11]:
y_predict

array([17.05918612])