In [1]:
import pandas as pd
from sklearn.svm import SVR

In [2]:
df=pd.read_csv("Punjab.csv")

In [3]:
df

   Year  BJP    INC    AAP    SAD
0  2012  7.2  40.10    NaN  34.70
1  2014  8.8  33.20  24.50  26.40
2  2017  5.4  38.50  23.70  25.20
3  2019  9.7  40.60   7.50  27.80
4  2022  6.6  22.98  42.01  18.38

In [4]:
df.fillna(0,inplace=True)

In [5]:
df

   Year  BJP    INC    AAP    SAD
0  2012  7.2  40.10   0.00  34.70
1  2014  8.8  33.20  24.50  26.40
2  2017  5.4  38.50  23.70  25.20
3  2019  9.7  40.60   7.50  27.80
4  2022  6.6  22.98  42.01  18.38

In [6]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['AAP'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [7]:
y_predict

array([24.5297941])

In [8]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['BJP'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [9]:
y_predict

array([6.64267589])

In [10]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['INC'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [12]:
y_predict

array([37.6702059])

In [13]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['SAD'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [14]:
y_predict

array([25.41982778])