In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("ALL_STATE.csv")

In [3]:
df

            State  BJP  INC  JDS
0       Karnataka    1    2    3
1  Madhya_Pradesh  -10    4    2

In [4]:
a=df[df['State']=='Karnataka']

In [5]:
a

       State  BJP  INC  JDS
0  Karnataka    1    2    3

In [15]:
a['BJP']

0    1
Name: BJP, dtype: int64

In [15]:
a=df[df['State']=='Madhya_Pradesh']
b='BJP'

In [18]:
print(a[b].values)

[-10]