In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("West_Bangal.csv")

In [3]:
df

   Year   TMC   CPM   INC   BJP  AIFB
0  2011  38.9  30.1   9.1   4.1  4.80
1  2014  39.8  23.0   9.7  17.0   NaN
2  2016  45.6  20.1  12.4  10.3  2.82
3  2019  43.7   6.3   5.7  40.6   NaN
4  2021  48.5   4.8   3.0  38.5   NaN

In [4]:
df.fillna(0,inplace=True)

In [5]:
df

   Year   TMC   CPM   INC   BJP  AIFB
0  2011  38.9  30.1   9.1   4.1  4.80
1  2014  39.8  23.0   9.7  17.0  0.00
2  2016  45.6  20.1  12.4  10.3  2.82
3  2019  43.7   6.3   5.7  40.6  0.00
4  2021  48.5   4.8   3.0  38.5  0.00

In [6]:
from sklearn.svm import SVR

In [13]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['BJP'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [14]:
y_predict

array([18.67777699])

In [15]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['TMC'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [16]:
y_predict

array([43.12127259])

In [17]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['CPM'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [18]:
y_predict

array([19.23645553])

In [19]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['INC'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [20]:
y_predict

array([7.58678907])

In [21]:
model=SVR(kernel='rbf')
model.fit(df[['Year']],df['AIFB'])
y_predict=model.predict([[2024]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [22]:
y_predict

array([0.57505747])

In [ ]:
TMC:0
BJP:-3